.page{
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    z-index: 1;
}

.pagestart{
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    z-index: 1;
    margin-top: -238px;
}

.start{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: 11px;
    text-decoration: underline;
}