.home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    position: relative;
    height: fit-content;
 
    
  }

  .home__container{
    height: fit-content;
  }

  .home__row {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
    

  }
  
  .home__image {
    overflow: hidden; 
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    object-fit: contain;
   
  }

  article{
    overflow: hidden;
    position: absolute;
    top:0%;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    
    
  }

  .activeSlide{
    
      opacity: 1;
      transform: translateX(0);
      overflow: hidden;
      
  }

  .lastSlide{
    transform: translateX(-100%);
    
  }

  .nextSlide{
    transform: translateX(100%);
    
  }

  .slider__left{
      position: relative;
      top: 34px;
      
  }

